html {
    font-size: 100%;
    box-sizing: border-box;
    top: 0;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 16px;
}

/* Website Name */
#sitename {
   display: grid;
   justify-items: center;
   border-bottom: 1px solid black;
}

/* parent container for nav list */
#nav-container {
    display: flex;
    justify-content: right;
}

#nav-container li {
    margin: 10px;
    padding: 10px;
    list-style: none;
    border-radius: 10%;
    background: linear-gradient(45deg, #000, lightgray);
}

#nav-container a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}



/* About Me section in body */
.about-me-text {
    font-size: 1.25rem;
    display: flex;
    margin: 20px;
    
}

/* specification for my portfolio pic */
#selfie {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 8rem;
}

/* specification for skill icons */
#skill-container img {
    width: 5rem;
    height: 5rem;
}

#skill-container {
    display: inline-flex;
    margin-left: 2rem;
}


/* for desktop size */
@media screen and (min-width: 800px) { 
  h1 {
      font-size: 3rem;
      padding-bottom: 20px;
  }
  .about-me-text h2 {
      font-size: 2rem;
  }

  h2 {
      font-size: 2rem;
      padding-left: 2rem;
      margin: auto;
  }

  p {
      font-size: 1.5rem;
  }

  #skill-container img {
    padding: 30px;
  }

  #selfie {
    width: 200px;
    height: 220px;
    border-radius: 50%;
    margin-left: 8rem;
}

/* experimental animation to make icons spin */
.icon {
    animation: spin 3s linear 1s infinite;
}
/* spin animation keyframes specifications */
@keyframes spin {
   0% {
    transform: rotate(0deg);
   }
   50% {
    transform: rotate(180deg);
   }
   100% {
       transform: rotate(360deg);
   }
}

};